html, body {
    height: 100%;
}
 
.header{
    background-color: cornflowerblue;
    padding: 10px;
}
 
.main{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-content: center;
    justify-content: center;
    height: 100%;
}
 
.footer{
    background-color: cornflowerblue;
}
 
.topLeft{
    display: flex;
    padding: 10px;
    width: auto;
}
 
.topRight{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
 
.topDiv{
    flex-direction: row;
    display: flex;
}
 
.bottomDiv{
}
 
.eggImage{
    max-height: 400px;
    width: auto;
}
 
h1 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 600;
}
 
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: 'Extra-light 200'
}